img {
    width: 100%;
}

body {
    background-color: #000000;
}

.htmlBase {
    position: relative;
    /* background: url('./img/space.png') no-repeat;*/
    background-size: cover;
    background-position: center;
    height: 100vh;
    /* margin-top: -24px;
  margin-bottom: -50px;
  */
}

.register,
.login,
.profiles,
{
    margin-top: 130px;
}

.landing {
    margin-top: 0px;
    background-color: rgba(0, 0, 0, .5) !important;
    background-blend-mode: color;
}

input,
textarea {
    font-family: "Ariel", sans-serif;
}


/*
.landing-inner {
  padding-top: 80px;
}
.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
*/

p {
    margin: 0px;
    padding: 0px;
}

.card-form {
    opacity: 0.9;
}

.latest-profiles-img {
    width: 40px;
    height: 40px;
}

.form-control::placeholder {
    color: #bbb !important;
}

@media only screen and (max-width: 480px) {
    .register,
    .login,
    .profiles {
        margin-top: 50px;
    }
    .landing {
        margin-top: 0px;
    }
}